* {
	margin: 0px;	
	padding: 0px;	
}


#Company_name{
	position:absolute;
	top:50px;
	left:300px;
	color: black;
	font-size: 100px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

#ch_pwd{
	position:absolute;
	top:150px;
	left:935px;
	color: black;
	font-size: 20px;    	
}
#logout{
	position:absolute;
	top:150px;
	left:1135px;
	color: black;
	font-size: 20px;    	
}

#add_emp{
	position:absolute;
	top:270px;
	left:535px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;    	
}
#view_emp{
	position:absolute;
	top:270px;
	left:900px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;
}
#search{
	position:absolute;
	top:370px;
	left:535px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;
}
#del_emp{
	position:absolute;
	top:370px;
	left:900px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;
}
#up_sal{
	position:absolute;
	top:470px;
	left:535px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;
}
#payslip{
	position:absolute;
	top:470px;
	left:900px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;
}


